body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    margin-top: -1rem;
}
h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 20rem;
    gap: 1rem; /* Espacio entre botones */
    margin: 0 auto;
}

button {
    background-color: #000f42;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
    width: 8rem;
}

button:hover {
    background-color: #000000;
}

button:nth-child(1) {
    order: 2; /* El primer botón será el segundo */
}

button:nth-child(2) {
    order: 3; /* El segundo botón será el tercero */
}

button:nth-child(3) {
    order: 4; /* El tercer botón será el cuarto */
}

button:nth-child(4) {
    order: 1; /* El cuarto botón será el primero */
}
